html {
    font-size: 10px;
}

body {
    margin: 0;
}

body *,
body *::after body *::before {
    box-sizing: border-box;

}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* util */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* header */

.header {
    width: 940px;
    margin: 0 auto;
}

/* member */
.member {
    font-size: 14px;
    margin: 10px 0;
    float: right;
}

.member li::after {
    content: "|";
}

.member li:last-child::after {
    content: "";
}

.member li {
    float: left;
}

.member li a {
    padding: 0 10px;
}

.member li:last-child a {
    padding-right: 0;
}

/* menu */
.logo {
    float: left;
    background: url(../images/logo.png) no-repeat;
    margin-top: 8px;
    width: 165px;
    height: 35px;
}

.menu {
    clear: both;
    background-color: tomato;
    border-radius: 0 0 5px 5px;
    padding-left: 30px;
    border-top: 2px solid black;
}
.menu-bar {
    float: right;
    font-size: 1.6rem;
    padding-left: 30px;
}

.menu-item {
    float: left;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

.menu-item-act .submenu {
    display: block;
}

.menu-link {
    line-height: 45px;
    color: white;
    text-shadow: black 1px 0, black -1px 0, black 0 -1px, black 0 1px;
    font-weight: 700;
    padding: 20px;
}








.menu-item:nth-child(1) .submenu,
.menu-item:nth-child(2) .submenu,
.menu-item:nth-child(3) .submenu {
    left: 0;
}

.menu-item:nth-child(4) .submenu,
.menu-item:nth-child(5) .submenu,
.menu-item:nth-child(6) .submenu {
    right: 0;
}


.submenu {
    display: none;
    position: absolute;
    white-space: nowrap;
}

.submenu li {
    font-size: 14px;
    display: inline-block;
    padding: 10px 0;
}